@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #495af7;
  --secondary-color: #9ba5ff;
  --text-color: #fff;
  --placeholder-color: rgb(82, 80, 80);
  --light-gery: #f5f5f5;
  --pending-color: #b7e4ec;
  --pending-text-color: #0c6047;
  --error-color: #ffc1c5;
  --error-text-color: #631920;
}

body {
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 18px;
    width: 800px;
}


.wrapper form{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

form ion-icon{
    position: absolute;
    width: 50px;
    text-align: center;
    font-size: 24px;
    color: var(--placeholder-color);
    transition: all 0.2s ease;
}

form input:valid ~ ion-icon{
    color: var(--primary-color);
}

form input{
    width: 100%;
    height: 100%;
    padding: 0 120px 0 45px;
    border: 2px solid var(--secondary-color);
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    caret-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

form input::placeholder{
    color: var(--placeholder-color);
    transition: all 0.2s ease;
}

form input:focus::placeholder{
    color: #646464;
}

form input:valid{
    border-color: var(--primary-color);
}

form button{
    position: absolute;
    right: 6px;
    padding: 5px 15px;
    border: none;
    outline: none;
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

form input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}

/*--------------------- Clicks and URLs are ------------------------*/
.wrapper .count{}